<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/style.css">
<title>ベースレイアウト</title>
</head>
<body>
	<header>
		<a th:href="@{/board/1}"><h1 id="app-title">Board Header</h1></a>
		<div sec:authorize="isAuthenticated()">
			<p><span sec:authentication="name"></span>さん、ログイン中です。</p>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="ログアウト" class="logout-button">
			</form>
		</div>
		
		<div sec:authorize="!isAuthenticated()">
			<a th:href="@{/board/create_user}"><button>会員登録</button></a>
			<a  th:href="@{/login}"><button>ログイン画面へ</button></a>
		</div>
	</header>
	
	<div layout:fragment="content">エラーページっぽい？</div>
		
		<a th:href="@{/board/1}">スレッド一覧に戻る</a>
		
		<footer>
			<h1>ここはフーター</h1>
		</footer>
</body>
</html>